@font-face {
    font-family: "Shadow";
    font-style: normal;
    font-weight: 400;
    src: local("Shadow"),
        url("fonts/Shadow_regular.ttf") format("truetype"),
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Shadow";
    background-color: #0093B6;
}

.container {
    width: 1440px;
}

.block {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__content {
    height: 937px;
    background-image: url(img/back.png);
    position: relative;
}

.block_h1 {
    position: absolute;
    left: 270px;
    top: 456px;

    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #0093B6;

    text-shadow:
        -0 -5px 2px #FFFFFF,
        0 -5px 2px #FFFFFF,
        -0 5px 2px #FFFFFF,
        0 5px 2px #FFFFFF,
        -5px -0 2px #FFFFFF,
        5px -0 2px #FFFFFF,
        -5px 0 2px #FFFFFF,
        5px 0 2px #FFFFFF,
        -1px -5px 2px #FFFFFF,
        1px -5px 2px #FFFFFF,
        -1px 5px 2px #FFFFFF,
        1px 5px 2px #FFFFFF,
        -5px -1px 2px #FFFFFF,
        5px -1px 2px #FFFFFF,
        -5px 1px 2px #FFFFFF,
        5px 1px 2px #FFFFFF,
        -2px -5px 2px #FFFFFF,
        2px -5px 2px #FFFFFF,
        -2px 5px 2px #FFFFFF,
        2px 5px 2px #FFFFFF,
        -5px -2px 2px #FFFFFF,
        5px -2px 2px #FFFFFF,
        -5px 2px 2px #FFFFFF,
        5px 2px 2px #FFFFFF,
        -3px -5px 2px #FFFFFF,
        3px -5px 2px #FFFFFF,
        -3px 5px 2px #FFFFFF,
        3px 5px 2px #FFFFFF,
        -5px -3px 2px #FFFFFF,
        5px -3px 2px #FFFFFF,
        -5px 3px 2px #FFFFFF,
        5px 3px 2px #FFFFFF,
        -4px -5px 2px #FFFFFF,
        4px -5px 2px #FFFFFF,
        -4px 5px 2px #FFFFFF,
        4px 5px 2px #FFFFFF,
        -5px -4px 2px #FFFFFF,
        5px -4px 2px #FFFFFF,
        -5px 4px 2px #FFFFFF,
        5px 4px 2px #FFFFFF,
        -5px -5px 2px #FFFFFF,
        5px -5px 2px #FFFFFF,
        -5px 5px 2px #FFFFFF,
        5px 5px 2px #FFFFFF,
        -5px -5px 2px #FFFFFF,
        5px -5px 2px #FFFFFF,
        -5px 5px 2px #FFFFFF,
        5px 5px 2px #FFFFFF;
    z-index: 1;
}

.back_img {
    position: absolute;
    left: 0;
    top: 0;
    height: 937px;
    z-index: -1;
}

.round {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0093B6;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.round_1 {
    left: 120px;
    top: 65px;
}

.round_2 {
    left: 735px;
    top: 65px;
}

.round_3 {
    left: 120px;
    top: 611px;
}

.round_4 {
    left: 735px;
    top: 611px;
}

.galleryWrapper__screen {
    left: 0;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background-color: #222;
    position: fixed;
    z-index: 100;
    text-align: center;
}

.galleryWrapper__window {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -595px;
    margin-top: -439px;
    width: 1190px;
    height: 878px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    z-index: 101;
    text-align: center;
}

.galleryWrapper__text {
    z-index: 102;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -290px;
    font-size: 48px;
    color: #0093B6;
    width: 1000px;
}

.galleryWrapper__close {
    z-index: 103;
    position: absolute;
    top: 65px;
    right: 65px;
    cursor: pointer;
}

.window_round2 {
    font-size: 30px;
    margin-top: -340px;
}

@media (max-device-width: 1200px) {
    .container {
        width: 1024px;
    }

    .block_h1 {
        left: 210px;
        top: 436px;
    }

    .back_img {
        height: 850px;
    }

    .block__content {
        height: 894px;
    }

    .round {
        width: 250px;
        height: 250px;
        font-size: 40px;
        line-height: 40px;
    }

    .round_1 {
        left: 50px;
    }

    .round_2 {
        left: 725px;
    }

    .round_3 {
        left: 50px;
    }

    .round_4 {
        left: 715px;
    }

    .galleryWrapper__window {
        margin-left: -450px;
        margin-top: -375px;
        width: 900px;
        height: 750px;
    }

    .galleryWrapper__text {
        width: 800px;
        margin-left: -400px;
        margin-top: -250px;
        font-size: 40px;
    }

    .window_round2 {
        font-size: 25px;
        margin-top: -280px;
    }
}

@media (max-device-width: 1023px) {
    .container {
        width: 768px;
    }

    .block_h1 {
        font-size: 60px;
        left: 100px;
    }

    .block__content {
        height: 937px;
    }

    .round {
        width: 220px;
        height: 220px;
        font-size: 35px;
        line-height: 35px;
    }

    .round_1 {
        left: 80px;
    }

    .round_2 {
        left: 475px;
    }

    .round_3 {
        left: 80px;
    }

    .round_4 {
        left: 475px;
    }

    .galleryWrapper__window {
        margin-left: -300px;
        width: 600px;
    }

    .galleryWrapper__text {
        width: 580px;
        margin-left: -290px;
        margin-top: -230px;
        font-size: 33px;
    }

    .window_round2 {
        font-size: 21px;
        margin-top: -270px;
    }
}

@media (max-device-width: 767px) {
    .container {
        width: 425px;
    }

    .block__content {
        height: 850px;
    }

    .block_h1 {
        left: 18px;
        font-size: 40px;
    }

    .round {
        width: 180px;
        height: 180px;
        font-size: 28px;
        line-height: 28px;
    }

    .round_1 {
        left: 15px;
        top: 160px;
    }

    .round_2 {
        left: 225px;
        top: 160px;
    }

    .round_3 {
        left: 20px;
    }

    .round_4 {
        left: 230px;
    }

    .galleryWrapper__window {
        margin-left: -180px;
        width: 360px;
    }

    .galleryWrapper__text {
        width: 340px;
        margin-left: -170px;
        margin-top: -230px;
        font-size: 25px;
    }

    .window_round2 {
        font-size: 17px;
        margin-top: -270px;
    }

    .galleryWrapper__close {
        top: 45px;
        right: 45px;
    }
}

@media (max-device-width: 423px) {
    .container {
        width: 375px;
    }

    .block__content {
        height: 850px;
    }

    .block_h1 {
        left: 18px;
        top: 170px;
    }

    .round {
        width: 150px;
        height: 150px;
        font-size: 23px;
        line-height: 23px;
    }

    .round_1 {
        left: 18px;
        top: 330px;
    }

    .round_2 {
        left: 205px;
        top: 330px;
    }

    .round_3 {
        left: 18px;
        top: 510px;
    }

    .round_4 {
        left: 205px;
        top: 510px;
    }

    .galleryWrapper__window {
        margin-left: -165px;
        width: 330px;
    }

    .galleryWrapper__text {
        width: 310px;
        margin-left: -156px;
        margin-top: -260px;
    }

    .window_round2 {
        font-size: 15px;
        margin-top: -270px;
    }

    .galleryWrapper__close {
        top: 45px;
        right: 45px;
    }
}

@media (max-device-width: 377px) {
    .container {
        width: 320px;
    }

    .block__content {
        height: 850px;
    }

    .block_h1 {
        left: 7px;
        top: 170px;
    }

    .round {
        width: 150px;
        height: 150px;
        font-size: 23px;
        line-height: 23px;
    }

    .round_1 {
        left: 5px;
        top: 330px;
    }

    .round_2 {
        left: 163px;
        top: 330px;
    }

    .round_3 {
        left: 5px;
        top: 500px;
    }

    .round_4 {
        left: 163px;
        top: 500px;
    }

    .galleryWrapper__window {
        margin-left: -150px;
        width: 300px;
    }

    .galleryWrapper__text {
        width: 280px;
        margin-left: -144px;
        margin-top: -280px;
    }

    .window_round2 {
        font-size: 15px;
        margin-top: -270px;
    }

    .galleryWrapper__close {
        top: 45px;
        right: 45px;
    }
}
